.hero {
  background: black url("../images/background2.jpg") center/ cover;
  background-repeat: no-repeat;
}

.each-plan {
  height: 700px;
  width: 800px;
  border: 1px solid white;
  direction: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.plan-image{
  direction: flex;
  flex-direction: column;
  justify-content: center;
  
  border: 1px solid black;
}

@media (max-width: 1024px) {.hero {background: black url("../images/background.jpg") center/ cover}}
@media (max-width: 1024px) {.hero {background: black url("../images/background3.jpg") center/ cover}}