.hero{
  background: black url("../images/background2.jpg") center/ cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
}
.all-topics .column{
  padding: 0px;
}
.all-topics{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

.title{
  padding-top: 2px;
}
.topic-card {
  height: 400px;
  width:  800px;
  display: flex;
  margin: auto; 
}

.topic-card .columns{
  justify-content: center;
  /* margin: auto; */
  padding: 25px 15px;
}

@media (max-width: 1024px) {.home-page {background: black url("../images/background.jpg") center/ cover}}
@media (max-width: 1024px) {.home-page {background: black url("../images/background3.jpg") center/ cover}}
